<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="back">
      <div id="card">
        <h2 style="text-align: center">Chatter Box</h2>
        <form action="/chat" method="post">
          <input type="text" name="name" placeholder="Enter Name" required />
          <input type="submit" value="join" />
        </form>
        <p>You need to register to application before watching the content, Read <a href="">Term and condtion</a> applied </p>
        
      </div>
    </div>
  </body>
</html>
